:root {
  --fontStack-monospace: monospace !important;
  --fontStack-sansSerif: sans-serif !important;
  --fontStack-sansSerifDisplay: sans-serif !important;
  --fontStack-system: sans-serif !important;
}
